<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Выбор лобби</title>
</head>
<body>
    <div style="text-align: right">
        Ваше имя: [{{ user }}]
    </div>
    <div style="text-align: right">
        <a href="/logout/?next=/">Выйти</a>
    </div>
    <div style="text-align: center">
        <h1>Добро пожаловать</h1>
    </div>
    <div style="float: left">
        {% if gamers_online %}
            Игроки онлайн:
            <ul>
                {% for gamer in gamers_online %}
                <li>{{ gamer.django_user.username }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div style="float: left">
        <ul>
            <li><a href="/create_lobby/">Создать лобби</a> </li>
            <li><a href="/join_lobby/">Список созданных лобби</a></li>
        </ul>
    </div>
</body>
</html>