<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Игра Lobby</title>
    <link rel="stylesheet" type="text/css" href="/static/lobbyapp/main.css"/>
</head>
<body>
    <div id="page">
        <div style="text-align: right">
            {% trans "Ваше имя" %}: [{{ user }}]
        </div>
        <div style="text-align: right">
            <a href="/logout/">{% trans "Выйти" %}</a>
        </div>
        {% if deserter_left %}
        <div id="deserter" style="text-align: right">
            {% trans "Вы дезертир" %}:<span id="deserter_left">{{ deserter_left }}</span>
        </div>
        {% endif %}
        <div style="text-align: center">
            <h1>{% trans "Добро пожаловать" %}</h1>
        </div>

        <div id="gamers_online" style="float: left">
            <div id="gamers_online_title">
                {% trans "Игроки онлайн" %}:
            </div>
            <div id="gamers_online_list">
                <ol style="padding-left: 25px">
                    {% for gamer in gamers_online %}
                        {% if gamer.djuser.username == user.username %}
                            <li id="gamers_online_current">{{ user }}</li>
                        {% else %}
                            <li name="{{ gamer.djuser.username }}">{{ gamer.djuser.username }}</li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>

        {% if lobby_id %}
            <input type="hidden" id="lobby_id" value="{{ lobby_id }}"/>
        {% endif %}

        <div id="actions" style="float: right">
            <div id="actions_title">
                {% trans "Список действий" %}:
            </div>
            <ul style="padding-left: 25px">
                {% if lobby_id %}
                    <li name="lobby_id"><a href="/lobby/">{% trans "Перейти к лобби" %}</a></li>
                {% else %}
                    <li name="lobby"><a href="/create_lobby/">{% trans "Создать лобби" %}</a></li>
                {% endif %}
            </ul>
        </div>

        <div id="lobbys_x2" class="lobbys">
            <h3>Список доступных лобби на 2 игрока:</h3>
            <table class="lobbys">
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Создатель</th>
                    <th>Статус</th>
                    <th>Количество<br/>игроков</th>
                </tr>
                {% for lobby in lobbys %}
                {% if lobby.max_users_count == 2 %}
                <tr name="{{ lobby.name }}">
                    <td name="num">{{ forloop.counter }}</td>
                    <td name="link"><a href="/join_lobby/{{lobby.id}}">{{ lobby.name }}</a></td>
                    <td name="owner">{{lobby.owner}}</td>
                    <td name="status">{{lobby.get_curr_status_display}}</td>
                    <td name="curcount">{{lobby.curr_users_count}}/{{lobby.max_users_count}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        <br/>
        <div id="lobbys_x4" class="lobbys">
            <h3>Список доступных лобби на 4 игрока:</h3>
            <table class="lobbys">
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Создатель</th>
                    <th>Статус</th>
                    <th>Количество<br/>игроков</th>
                </tr>
                {% for lobby in lobbys %}
                {% if lobby.max_users_count == 4 %}
                <tr  name="{{ lobby.name }}">
                    <td name="num">{{ forloop.counter }}</td>
                    <td name="link"><a href="/join_lobby/{{lobby.id}}">{{ lobby.name }}</a></td>
                    <td name="owner">{{lobby.owner}}</td>
                    <td name="status">{{lobby.get_curr_status_display}}</td>
                    <td name="curcount">{{lobby.curr_users_count}}/{{lobby.max_users_count}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>

        <div style="clear: both">
        </div>

    </div>
    <script src="/static/lobbyapp/jquery-1.12.3.min.js"></script>
    <script src="/static/lobbyapp/main.js"></script>
</body>
</html>