{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Лобби" %}</title>
</head>
<body>
    <div>
        <div style="text-align: right;">
            <a href="/">{% trans "На главную" %}</a>
        </div>
        <div id="lobby_info">
            <h3>{{ lobby.name }}</h3>
            <h4>{{lobby.get_max_users_count_display}}</h4>
            {% trans "Создатель" %}: <span id="owner">{{lobby.owner}}</span><br/>
            {% trans "Состояние" %}: <span id="status">{{lobby.get_curr_status_display}}</span>
                    <span id="count">({{count}}/{{lobby.max_users_count}})</span><br/>
            {% if time_left %}
            {% trans "До завершения осталось" %}: <span id="time_left">{{ time_left }}</span><br/>
            {% endif %}
        </div>
        <div id="gamers">
            <h3>{% trans "Участники" %}</h3>
            <ol>
                {% for gamer in gamers %}
                <li name="{{ gamer.djuser.username }}">{{gamer.djuser}}</li>
                {% endfor %}
            </ol>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {% if lobby.owner == user %}
                <button type="submit" name="begin_game" value="1">{% trans "Начать игру" %}</button>
            {% else %}
                <button type="submit" name="leave_lobby">{% trans "Покинуть лобби" %}</button>
            {% endif %}
        </form>
    </div>
    <script src="/static/lobbyapp/jquery-1.12.3.min.js"></script>
    <script src="/static/lobbyapp/lobby.js"></script>
</body>
</html>